# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore virtual environment directories
venv/
env/
ENV/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore Firstrade Jupyter Notebooks and requirements file
FT_History.csv
transaction_history.json
portfolio_history.json

# Ignore everything in the reports directory
/reports/*

# But don't ignore the templates directory
!/reports/templates/

# Ignore other common files
*.swp
*.swo
*.bak
*.tmp
*.temp